<!-- <app-header></app-header> -->

<div class="header-top">
  <button type="button" class="btn btn-primary" 
    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    (click)="keEmployee()">
  List Emplyee
  </button>
  <button type="button" class="btn btn-primary" 
    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    (click)="keAddEmployee()">
  Form Employee
  </button>
  <button type="button" class="btn btn-primary" 
    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    (click)="keHome()">
  Home
  </button>
</div>
<router-outlet></router-outlet>
<!-- <app-employee-list></app-employee-list> -->
<!-- <table>
    <thead>
      <th>No</th>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </thead>
    <tbody>
      <td>1</td>
      <td>1</td>
      <td>Yana</td>
      <td>Garut</td>
    </tbody>
  </table> -->